<% content_for :title, "New movie" %>

<div class="centered-bottom">
  <h1 class="centered-link-title">New movie</h1>
</div>

<div class="form-container">
  <%= render "form", movie: @movie %>
</div>

<br>

<div class="centered-bottom">
  <%= link_to "Back to movies", movies_path, class: 'centered-link-title' %>
</div>
